* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Metrophobic';
    font-size: 1.5vw;
    color: rgba(255,255,255,0.8);
    text-align: center;
}
html,body {
    width: 100%;
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
}
.banner {
    width: 100%;
    position: relative;
}
.banner img {
    width: 100%;
}
.form-container {
    width: 30%;
    position: absolute;
    top: 5%;
    left: 35%;
    /* transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%); */
}
.form {
    /* width: 30%; */
    margin: 0 auto;
    background-color: rgba(0,0,0,0.5);
}
.form-name {
    /* width: 30%; */
    margin: 0 auto;
    background-color: rgba(0,0,0,0.5);
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: left;
}

.form-name2 {
    opacity: 0.3;
    text-align: center;
}
.form-name:hover, .form-name2:hover {
    cursor: pointer;
}
.form-name p {
    /* width: 18%; */
    text-transform: uppercase;
    border-bottom: 1px solid rgb(107,144,114);
    font-weight: 100;
    font-size: 0.9rem;
    display: inline-block;
    margin-left: 9%;
}
.username, .email, .dob, .address, .pnumber {
    width: 100%;
    padding-bottom: 10px;
}
.password {
    width: 100%;
    padding-bottom: 10px;
}
.username input, .dob input, .password input, .address input, .pnumber input,
.email input {
    width: 80%;
}
.username label p, .dob label p, .password label p, .address label p, .pnumber label p,
.email label p {
    text-transform: uppercase;
    font-size: 60%;
    text-align: left;
    width: 100%;
    padding-left: 40px;
}
.gender label p {
    font-size: 70%;
    text-align: left;
    width: 100%;
}
#gender {
    text-transform: uppercase;
    font-size: 60%;
    text-align: left;
    width: 100%;
    padding-left: 40px;
}
.gender-select {
    width: 100%;
    text-align: left;
    padding-left: 50px;
}
label[for=male] {
    padding: 10px 50px 10px 5px;
}
label[for=female] {
    padding: 10px 20px 10px 5px;
}
input[name=gender] {
    text-align: left;
}
input[type=radio]:focus, select:focus {
    outline: none;
}
.gender input, .gender label {
    display: inline-block;
    text-align: left;
}
#username, #password, #email, #dob, #address, #pnumber {
    text-align: left;
    color: rgba(255,255,255,0.8);
    font-size: 70%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 20px;
    border: none;
    background-color: rgba(0,0,0,0.5);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
input:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(255,255,255,0.5);
}
.gender input:focus {
    box-shadow: none;
}
.submitBtn input  {
    background-color:rgb(107,144,114);
    border: none;
    width: 80%;
    border-radius: 20px;
    padding: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
input[type=submit] {
    text-transform: uppercase;
    font-size: 70%;
}
.submitBtn {
    padding: 10px 0 60px 0;
    text-align: center;
}
input[type=submit]:hover {
    cursor: pointer;
    box-shadow: 0 0 8px rgba(255,255,255,0.5);
}
