.wrap {
    width: 95%;
    margin: 0 auto;
    cursor: default;
}

.table-name h1 {
    font-family: 'Annie Use Your Telescope';
    font-size: 4vw;
    text-align: center;
}

.table-name {
    padding: 20px;
}

table {
    width: 100%;
    text-align: left;
    font-size: 2vw;
    margin-bottom: 50px;
}

th, td {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1vw;
}

th {
    padding: 5px 0 5px 15px;
}

.table-title {
    padding: 20px;
    font-size: 2vw;
    letter-spacing: 1px;
}

.table-title:hover {
    background-color: white;
}
img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 60%;
    text-align: left;
}

td {
    padding: 5px 0 5px 15px;
}

table, th, td {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
}

.contain-img {
    width: 8%;
    text-align: left;
    padding-left: 15px;
}

tr:hover {
    background-color: rgba(48, 46, 46, 0.1);
}

span i {
    color: rgba(0, 0, 0, 0.6);
    float: right;
    padding: 0 5px 0 5px;
    font-size: 1vw;
}
