* {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
    text-align: center;
}
.navbar {
    width: 100%;
    margin: 0;
    padding: 0;
}
.logo {
    width: 30%;
    margin: 0;
    padding: 0;
    float: left;
    font-weight: bold;
    font-size: 2vw;
}
.menu-lv1 {
    width: 65%;
    margin: 0;
    padding: 0;
    float: left;
}

.menu-lv1-item {
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
}