* {
    box-sizing: border-box;
}
html, body {
    width: 100%;
}
.clear {
    clear: both;
}
.container {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
}
.navbar {
    width: 100%;
    height: 80px;
    background-color: #080809;
}
.logo h1 {
    font-weight: bold;
    color: #6d7081;
    line-height: 15px;
}
.logo {
    /* margin-left: 20px; */
}
.menu-lv1 {
    float: left;
    width: 15%;
    padding-top: 10px;
    color: white;
    box-shadow: 0 6px 15px 0 rgba(0,0,0,0.2);
    height: 400px;
}
.menu-lv1, .menu-lv2, .menu-lv3 {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}
.menu-lv2 {
    position: relative;
    margin-top: 8px;
}
.menu-lv2-item a, .menu-lv3-item a {
    text-decoration: none;
    color: black;
}
.menu-lv2-item {
    margin: 35px 0 0 0;
}
.menu-lv3 {
    position: absolute;
    left: 100%;
    display: none;
    text-align: center;
    box-shadow: 0 0px 2px 0 rgba(0,0,0,0.2);
    background-color: white;
    opacity: 0.8;
    border-radius: 2px;
    z-index: 10;
}
.menu-lv2-item:hover .menu-lv3 {
    display: inline-block;
    width: 200px;
    margin-top: 0;
}
.menu-lv2-item a:hover {
    font-weight: bold;
    color: #d08e9f;
}
.menu-lv3-item {
    padding: 10px 0;
    font-size: 17px;
    font-weight: normal;
    color: black;
}
.menu-lv3-item a:hover {
    font-weight: bold;
    color: #d08e9f;
}
.main-nav {
    background-color: #af4963;
    height: 45px;
}
.banner {
    float: left;
    width: 34%;
    box-shadow: 0 0px 2px 0 rgba(0,0,0,0.2);
    background-color: white;
    padding: 0;
    text-align: center;
    padding: 20px;
    margin-left: 7%;
    margin-top: 18px;
}
.banner img {
    width: 100%;
}
.banner-info {
    height: 25px;
    padding-top: 10px;
    font-size: 17px;
}
.gallery {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.row {
    width: 33%;
    float: left;
}
.row img {
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.row img:hover {
    transform: translate(0,-5px);
    transition: .5s ease-in-out;
}
.text {
    width: 100%;
    padding: 20px 0;
}
.text input {
    width: 100%;
}
.backtotop {
    width: 100%;
}
.backtotop img {
    width: 4%;
    opacity: 0.8;
    position: fixed;
    bottom: 20%;
}