.container {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;;
    color: black;
}
.navbar {
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 0;
    background-color: #080809;
}
.logo h1 {
    font-weight: bold;
    color: #6d7081;
    line-height: 15px;
}
.logo {
    margin-left: 20px;
}
.menu-lv1 {
    max-width: 15%;
    padding-top: 10px;
    color: white;
    padding-bottom: 15px;
    box-shadow: 0 6px 15px 0 rgba(0,0,0,0.2);
    height: 400px;
}
.menu-lv1, .menu-lv2, .menu-lv3 {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}
.menu-lv2 {
    position: relative;
    margin-top: 8px;
}
.menu-lv2-item a, .menu-lv3-item a {
    text-decoration: none;
    color: black;
}
.menu-lv2-item {
    margin: 35px 0 0 0;
}
.menu-lv3 {
    position: absolute;
    left: 95%;
    display: none;
    text-align: center;
    box-shadow: 0 0px 2px 0 rgba(0,0,0,0.2);
    background-color: white;
    opacity: 0.8;
    border-radius: 2px;
    margin: 0;
    padding: 0;
    z-index: 10;
}
.menu-lv2-item:hover .menu-lv3 {
    display: inline-block;
    width: 200px;
    margin-top: 0;
}
.menu-lv2-item a:hover {
    font-weight: bold;
    color: #d08e9f;
}
.menu-lv3-item {
    padding: 10px 0;
    font-size: 17px;
    font-weight: normal;
    color: black;
}
.menu-lv3-item a:hover {
    font-weight: bold;
    color: #d08e9f;
}
.main-nav {
    background-color: #af4963;
    height: 45px;
    margin-top: 0;
    padding-top: 0;
}
.banner {
    margin-left: 25%;
    box-shadow: 0 0px 2px 0 rgba(0,0,0,0.2);
    background-color: white;
    padding: 0;
    width: 40%;
    text-align: center;
}
.banner img {
    width: 90%;
    height: 300px;
    margin-top: 10px;
}
.banner-info {
    width: 100%;
    height: 45px;
    text-align: center;
    padding-top: 8px;
}
.banner-info p {
    display: inline-block;
    padding: 0 20px;
    overflow: hidden;
}
.banner-info span {
    padding: 0 20px;
    color: #6d7081;
    overflow: hidden;
}
.banner, .info-col {
    display: inline-block;
}
.info-col {
    float: right;
    width: 25%;
    margin-right: 3%;
    text-align: center;
    height: 350px;
    padding-top: 10%;
    box-shadow: 0 0px 2px 0 rgba(0,0,0,0.2);
    background-color: white;
}
.gallery {
    width: 100%;
    margin: 30px;
}
.row {
    text-align: center;
    margin: 80px 0;
}
#card img {
    width: 300px;
    height: 200px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#card img:hover {
    transform: translate(0,-5px);
    transition: .5s ease-in-out;
}
input {
    width: 60%;
}
.text {
    padding: 10px 0;
}
.backtotop img {
    width: 4%;
    opacity: 0.8;
    position: fixed;
    right: 10px;
    bottom: 20px;
}