<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" media="screen" href="font/fontawesomeProByNam.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/font.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/js-enabled.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/railscasts.css">
    <link type="image/x-icon" rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACMUlEQVQ4jYXTy04TcRQG8KkbqH0FXZDwEob5Twu2pS1padFemHaGaTuVDpdeqIjiwpo4Q7GCBKMlIDCUS5MGNIJoMATCzrjWJ9AFr6BD+7nQopBSFmdzcvLLtzgfBUBXb0a3OeP9d+KX5Br/WVoOkWw2e6XeHXV+MbIXuH7vY6g0vivgwbaI0U2xGlc5DBX59eG14LULAEqXLnv1yX3P48y+/9fYHocaMLYVw/CqAEnlkVgTfqZKwiNhWWg+A8R2O28lDh0/kofuambfj/NAuhRB/1IIgys8UhvhaqYU/X63HPEA0FHeaa+eXXCdJI7sSB14UB+IIq5y6F8KYqjYh/RGBP5X3VrrcGsTxeWthuDL21p8x9kQkFZ4RBd6IakcBlZ4GGWimbKmZorLc4bIfEALL/qQOnA3BPrmfBBfs+ie6YJJMf0Fipzhjspq4iKLwbfehgA/54P/hRvmyZton/gPkFaDWrwYhG3KjJFPjRO4njvgeGZF51PLP2Cg1Kux824QmUZg2XEpYJ7sgGvaVgOsBrHco5lyDBiFgFEI0u/ZhgCjELim7X8Ab/mGvqvQXiEyOQV6CjY8/BC+EDAqDDpyphP7rL2JAqAjMgkwCn1cA+gnNFJvgo2AY2aC8Z9+IgVKZ81bDYxM54hMVxiFwDlrxfhO7CxQ8FU8M105Z9Z5lQJVv0xMnmkhMtkkMg1pnT19ZUnlNsUFruXSNtYStcltFtuU+dvYVuxrckOwXFT737LDT1nU/++wAAAAAElFTkSuQmCC">

    <title>My Blog - Details</title>
</head>

<body class="page-topic page-topic-1853 page-topic-install-ethereumjs-wallet">
    <%- include components/header%>

    <main id="panel" class=" slideout-panel">
        
        <div class="container" id="content">
            <div class="row">
                <div class="topic col-lg-12">
                    <ol class="breadcrumb">
                        <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                            <a href="/" itemprop="url">
                                <span itemprop="title">
                                    Home

                                </span>
                            </a>
                        </li>
                        <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
                            <a href="/category/4/general-discussion" itemprop="url">
                                <span itemprop="title">
                                    General Discussion

                                </span>
                            </a>
                        </li>
                        <li component="breadcrumb/current" itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb" class="active">

                            <span itemprop="title">
                                install ethereumjs-wallet
                                <a target="_blank" href="/topic/1853.rss"><i class="fal fa-rss-square"></i></a>
                            </span>

                        </li>
                    </ol>

                    <h1 component="post/header" class="hidden-xs" itemprop="name">

                        <i class="pull-left fal fa-thumb-tack hidden"></i> <i class="pull-left fal fa-lock hidden"></i> <span
                            class="topic-title" component="topic/title">install ethereumjs-wallet</span>

                        <span class="browsing-users hidden hidden-xs hidden-sm pull-right">
                            <span>browsing</span>
                            <div component="topic/browsing/list" class="thread_active_users active-users inline-block"></div>
                            <small class="hidden">
                                <i class="fal fa-users"></i> <span component="topic/browsing/count" class="user-count"></span>
                            </small>
                        </span>
                    </h1>

                    <div component="topic/deleted/message" class="alert alert-warning hidden">This topic has been deleted.
                        Only users with topic management privileges can see it.</div>

                    <hr class="visible-xs">

                    <ul component="topic" class="posts" data-tid="1853">
                        <li component="post" class="" data-index="0" data-pid="6708" data-uid="4789" data-username="Hiền Vũ" data-userslug="hiền-vũ"
                            itemscope="" itemtype="http://schema.org/Comment">
                            <a component="post/anchor" data-index="0" name="0"></a>

                            <meta itemprop="datePublished" content="2018-08-21T02:59:44.621Z">
                            <meta itemprop="dateModified" content="">

                            <div class="clearfix">
                                <div class="icon pull-left">
                                    <a href="/user/hiền-vũ">
                                        <img component="user/picture" data-uid="4789" src="https://graph.facebook.com/2151132321836249/picture?type=large" itemprop="image"
                                            align="left">
                                        <i component="user/status" class="fal fa-circle status offline" title="Offline"></i>

                                    </a>
                                </div>

                                <small class="pull-left">
                                    <strong>
                                        <a href="/user/hiền-vũ" itemprop="author" data-username="Hiền Vũ" data-uid="4789">Hiền
                                            Vũ
                                        </a>
                                    </strong>





                                    <div class="visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">
                                        <a class="permalink" href="/topic/1853/install-ethereumjs-wallet/1"><span class="timeago"
                                                title="Tue Aug 21 2018 09:59:44 GMT+0700 (+07)">10 days ago</span></a>

                                        <i class="fal fa-pencil-square pointer edit-icon hidden"></i>

                                        <small data-editor="" component="post/editor" class="hidden">last edited by <span
                                                class="timeago" title="Invalid Date"></span></small>



                                        <span>

                                        </span>
                                    </div>
                                    <span class="bookmarked"><i class="fal fa-bookmark-o"></i></span>

                                </small>
                            </div>

                            <br>

                            <div class="content" component="post/content" itemprop="text">
                                <p>How to npm install ethereumjs-wallet ! A/c nào giúp em install với ạ !</p>

                            </div>

                            <div class="clearfix">


                                <small class="pull-right">
                                    <span class="post-tools">
                                        <a component="post/reply" href="#" class="no-select ">Reply</a>
                                        <a component="post/quote" href="#" class="no-select ">Quote</a>
                                    </span>

                                    <span class="votes">
                                        <a component="post/upvote" href="#" class="">
                                            <i class="fal fa-chevron-up"></i>
                                        </a>

                                        <span component="post/vote-count" data-votes="0">0</span>

                                        <a component="post/downvote" href="#" class="">
                                            <i class="fal fa-chevron-down"></i>
                                        </a>
                                    </span>

                                    <span component="post/tools" class="dropdown moderator-tools ">
                                        <a href="#" data-toggle="dropdown"><i class="fal fa-fw fa-ellipsis-v"></i></a>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu"></ul>
                                    </span>

                                </small>
                            </div>

                            <hr>

                            <div class="post-bar">
                                <div class="clearfix">
                                    <div class="tags pull-left">
                                        <a href="/tags/ethereumjs-wall">
                                            <span class="tag-item" data-tag="ethereumjs-wall" style="">ethereumjs-wall</span>
                                            <span class="tag-topic-count human-readable-number" title="1">1</span></a>
                                        <a href="/tags/helpme">
                                            <span class="tag-item" data-tag="helpme" style="">helpme</span>
                                            <span class="tag-topic-count human-readable-number" title="1">1</span></a>
                                        <a href="/tags/npminstall">
                                            <span class="tag-item" data-tag="npminstall" style="">npminstall</span>
                                            <span class="tag-topic-count human-readable-number" title="1">1</span></a>
                                    </div>

                                    <div class="topic-main-buttons pull-right">
                                        <span class="loading-indicator btn pull-left hidden" done="0">
                                            <span class="hidden-xs">Loading More Posts</span> <i class="fal fa-refresh fa-spin"></i>
                                        </span>

                                        <div class="stats hidden-xs">
                                            <span component="topic/post-count" class="human-readable-number" title="2">2</span><br>
                                            <small>Posts</small>
                                        </div>
                                        <div class="stats hidden-xs">
                                            <span class="human-readable-number" title="68">68</span><br>
                                            <small>Views</small>
                                        </div>

                                        <div class="btn-group action-bar ">
                                            <button class="btn btn-primary" component="topic/reply">Reply</button>
                                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu pull-right" role="menu">
                                                <li><a href="#" component="topic/reply-as-topic">Reply as topic</a></li>
                                            </ul>
                                        </div>

                                        <a component="topic/reply/locked" class="btn btn-primary hidden" disabled=""><i class="fal fa-lock"></i>
                                            Locked</a>

                                        <button component="topic/follow" class="btn btn-info ">
                                            <span class="visible-sm-inline visible-md-inline visible-lg-inline">Watch</span>
                                            <i class="fal fa-eye"></i>
                                        </button>

                                        <button component="topic/unfollow" class="btn btn-warning hidden">
                                            <span class="visible-sm-inline visible-md-inline visible-lg-inline">Unwatch</span>
                                            <i class="fal fa-eye-slash"></i>
                                        </button>

                                        <button component="topic/mark-unread" class="btn btn-default">
                                            <span class="visible-sm-inline visible-md-inline visible-lg-inline">Mark unread</span>
                                            <i class="fal fa-inbox"></i>
                                        </button>

                                        <div class="btn-group" component="thread/sort">
                                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button"><span
                                                    class="visible-sm-inline visible-md-inline visible-lg-inline">Sort by</span>
                                                <span class="visible-xs-inline"><i class="fal fa-fw fa-sort"></i></span>
                                                <span class="caret"></span></button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="#" class="oldest_to_newest" data-sort="oldest_to_newest"><i
                                                            class="fal fa-fw fa-check"></i> Oldest to Newest</a></li>
                                                <li><a href="#" class="newest_to_oldest" data-sort="newest_to_oldest"><i
                                                            class="fal fa-fw"></i> Newest to Oldest</a></li>
                                                <li><a href="#" class="most_votes" data-sort="most_votes"><i class="fal fa-fw"></i>
                                                        Most votes</a></li>
                                            </ul>
                                        </div>


                                    </div>
                                </div>
                                <hr>
                            </div>
                        </li>
                        <li component="post" class="" data-index="1" data-pid="6770" data-uid="4841" data-username="Bao Mai" data-userslug="bao-mai"
                            itemscope="" itemtype="http://schema.org/Comment">
                            <a component="post/anchor" data-index="1" name="1"></a>

                            <meta itemprop="datePublished" content="2018-08-30T08:04:32.865Z">
                            <meta itemprop="dateModified" content="2018-08-30T08:04:47.820Z">

                            <div class="clearfix">
                                <div class="icon pull-left">
                                    <a href="/user/bao-mai">
                                        <img component="user/picture" data-uid="4841" src="https://graph.facebook.com/111125343173124/picture?type=large" itemprop="image"
                                            align="left">
                                        <i component="user/status" class="fal fa-circle status online" title="Online"></i>

                                    </a>
                                </div>

                                <small class="pull-left">
                                    <strong>
                                        <a href="/user/bao-mai" itemprop="author" data-username="Bao Mai" data-uid="4841">Bao
                                            Mai
                                        </a>
                                    </strong>





                                    <div class="visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">
                                        <a class="permalink" href="/topic/1853/install-ethereumjs-wallet/2"><span class="timeago"
                                                title="Thu Aug 30 2018 15:04:32 GMT+0700 (+07)">about 19 hours ago</span></a>

                                        <i class="fal fa-pencil-square pointer edit-icon" title="" data-original-title="last edited by Bao Mai about 19 hours ago"></i>

                                        <small data-editor="bao-mai" component="post/editor" class="hidden">last edited by
                                            Bao Mai <span class="timeago" title="Thu Aug 30 2018 15:04:47 GMT+0700 (+07)">about
                                                19 hours ago</span></small>



                                        <span>

                                        </span>
                                    </div>
                                    <span class="bookmarked"><i class="fal fa-bookmark-o"></i></span>

                                </small>
                            </div>

                            <br>

                            <div class="content" component="post/content" itemprop="text">
                                <p>mình hay dùng modul ethers</p>

                            </div>

                            <div class="clearfix">


                                <small class="pull-right">
                                    <span class="post-tools">
                                        <a component="post/reply" href="#" class="no-select ">Reply</a>
                                        <a component="post/quote" href="#" class="no-select ">Quote</a>
                                    </span>

                                    <span class="votes">
                                        <a component="post/upvote" href="#" class="">
                                            <i class="fal fa-chevron-up"></i>
                                        </a>

                                        <span component="post/vote-count" data-votes="0">0</span>

                                        <a component="post/downvote" href="#" class="">
                                            <i class="fal fa-chevron-down"></i>
                                        </a>
                                    </span>

                                    <span component="post/tools" class="dropdown moderator-tools ">
                                        <a href="#" data-toggle="dropdown"><i class="fal fa-fw fa-ellipsis-v"></i></a>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu"></ul>
                                    </span>

                                </small>
                            </div>

                            <hr>

                        </li>
                    </ul>

                    <div class="post-bar">
                        <div class="clearfix">
                            <div class="tags pull-left">
                                <a href="/tags/ethereumjs-wall">
                                    <span class="tag-item" data-tag="ethereumjs-wall" style="">ethereumjs-wall</span>
                                    <span class="tag-topic-count human-readable-number" title="1">1</span></a>
                                <a href="/tags/helpme">
                                    <span class="tag-item" data-tag="helpme" style="">helpme</span>
                                    <span class="tag-topic-count human-readable-number" title="1">1</span></a>
                                <a href="/tags/npminstall">
                                    <span class="tag-item" data-tag="npminstall" style="">npminstall</span>
                                    <span class="tag-topic-count human-readable-number" title="1">1</span></a>
                            </div>

                            <div class="topic-main-buttons pull-right">
                                <span class="loading-indicator btn pull-left hidden" done="0">
                                    <span class="hidden-xs">Loading More Posts</span> <i class="fal fa-refresh fa-spin"></i>
                                </span>

                                <div class="stats hidden-xs">
                                    <span component="topic/post-count" class="human-readable-number" title="2">2</span><br>
                                    <small>Posts</small>
                                </div>
                                <div class="stats hidden-xs">
                                    <span class="human-readable-number" title="68">68</span><br>
                                    <small>Views</small>
                                </div>

                                <div class="btn-group action-bar ">
                                    <button class="btn btn-primary" component="topic/reply">Reply</button>
                                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#" component="topic/reply-as-topic">Reply as topic</a></li>
                                    </ul>
                                </div>

                                <a component="topic/reply/locked" class="btn btn-primary hidden" disabled=""><i class="fal fa-lock"></i>
                                    Locked</a>

                                <button component="topic/follow" class="btn btn-info ">
                                    <span class="visible-sm-inline visible-md-inline visible-lg-inline">Watch</span> <i class="fal fa-eye"></i>
                                </button>

                                <button component="topic/unfollow" class="btn btn-warning hidden">
                                    <span class="visible-sm-inline visible-md-inline visible-lg-inline">Unwatch</span> <i
                                        class="fal fa-eye-slash"></i>
                                </button>

                                <button component="topic/mark-unread" class="btn btn-default">
                                    <span class="visible-sm-inline visible-md-inline visible-lg-inline">Mark unread</span>
                                    <i class="fal fa-inbox"></i>
                                </button>

                                <div class="btn-group" component="thread/sort">
                                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button"><span
                                            class="visible-sm-inline visible-md-inline visible-lg-inline">Sort by</span>
                                        <span class="visible-xs-inline"><i class="fal fa-fw fa-sort"></i></span> <span class="caret"></span></button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#" class="oldest_to_newest" data-sort="oldest_to_newest"><i class="fal fa-fw fa-check"></i>
                                                Oldest to Newest</a></li>
                                        <li><a href="#" class="newest_to_oldest" data-sort="newest_to_oldest"><i class="fal fa-fw"></i>
                                                Newest to Oldest</a></li>
                                        <li><a href="#" class="most_votes" data-sort="most_votes"><i class="fal fa-fw"></i>
                                                Most votes</a></li>
                                    </ul>
                                </div>


                            </div>
                        </div>
                        <hr>
                    </div>



                    <div class="visible-xs visible-sm pagination-block text-center ready">
                        <div class="progress-bar" style="width: 50%;"></div>
                        <div class="wrapper">
                            <i class="fal fa-2x fa-angle-double-up pointer fa-fw pagetop"></i>
                            <i class="fal fa-2x fa-angle-up pointer fa-fw pageup"></i>
                            <span class="pagination-text">1 out of 2</span>
                            <i class="fal fa-2x fa-angle-down pointer fa-fw pagedown"></i>
                            <i class="fal fa-2x fa-angle-double-down pointer fa-fw pagebottom"></i>
                        </div>
                    </div>
                </div>
            </div>
            <noscript>
                <div component="pagination" class="text-center pagination-container hidden">
                    <ul class="pagination">
                        <li class="previous pull-left disabled">
                            <a href="?" data-page="1"><i class="fal fa-chevron-left"></i> </a>
                        </li>

                        <li class="next pull-right disabled">
                            <a href="?" data-page="1"> <i class="fal fa-chevron-right"></i></a>
                        </li>
                    </ul>
                </div>
            </noscript></div><!-- END container -->
    </main>

    <div class="hide">
        <script type="text/tpl" data-template="500">
<div class="alert alert-danger">
	<strong>Internal error.</strong>
	<p>Oops! Looks like something went wrong!</p>
	<p></p>
	

</div>
</script>
    </div>


    <div class="topic-search hidden">
        <div class="btn-group">
            <button type="button" class="btn btn-default count"></button>
            <button type="button" class="btn btn-default prev"><i class="fal fa-fw fa-angle-up"></i></button>
            <button type="button" class="btn btn-default next"><i class="fal fa-fw fa-angle-down"></i></button>
        </div>
    </div>
    <div component="toaster/tray" class="alert-window"></div>

    <script>
        require(['forum/footer']);
    </script>


    <div id="taskbar" class="taskbar navbar-fixed-bottom">
        <div class="navbar-inner">
            <ul class="nav navbar-nav pull-right"></ul>
        </div>
    </div>
    <div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div>
</body>

</html>