<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"> -->
  <!-- FONT AWESOME -->
  <link rel="stylesheet" type="text/css" media="screen" href="font/fontawesomeProByNam.css">
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/font.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/js-enabled.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/railscasts.css">

  <title>My Blog</title>
</head>

<body class="page-home">
 <%- include components/header%>
  <main id="panel" class=" slideout-panel">

    <div class="container" id="content">
      <div class="recent">

        <div class="clearfix">
          <div class="pull-left">

          </div>
          <div class="pull-right">
            <a href="admin"><button id="new_topic" class="btn btn-primary">New Topic</button></a>
          </div>
        </div>

        <hr class="hidden-xs">

        <div class="category">


          <a href="/recent">
            <div class="alert alert-warning hide" id="new-topics-alert"></div>
          </a>

          <ul component="category" class="topic-list" itemscope="" itemtype="http://www.schema.org/ItemList" data-nextstart="20">
            <meta itemprop="itemListOrder" content="descending">
            <li component="category/topic" class="row clearfix unread" data-tid="1853" data-index="" data-cid="4" itemprop="itemListElement">
              <meta itemprop="name" content="install ethereumjs-wallet">

              <div class="col-md-7 col-sm-9 col-xs-10 content">
                  <% posts.forEach(function(post){ %>
                <div class="avatar pull-left" data-original-title="" title="">


                  <a href="#" class="pull-left">
                    <!-- <img component="user/picture" data-uid="4789" src="<%= user.image %>" class="user-img"
                      title="<% user.username %>"> -->
                      <p><%= post.author %></p>
                  </a>

                </div>

                <h2 component="topic/header" class="title">
                  <i component="topic/pinned" class="fal fa-thumb-tack hide"></i>
                  <i component="topic/locked" class="fal fa-lock hide"></i>
                  <a href="#" itemprop="url"><%= post.title %></a><br>

                  <small>
                    <a href="/category/4/general-discussion"><span class="fa-stack fa-lg"><i style="color:#e95c5a;" class="fal fa-circle fa-stack-2x"></i><i
                          style="color:#fff;" class="fal fa-question fa-stack-1x"></i></span>
                      General Discussion</a> •
                  </small>

                  <span class="tag-list hidden-xs">
                    <a href="/tags/ethereumjs-wall"><span class="tag" style="">ethereumjs-wall</span></a>
                    <a href="/tags/helpme"><span class="tag" style="">helpme</span></a>
                    <a href="/tags/npminstall"><span class="tag" style="">npminstall</span></a>
                    <small>•</small>
                  </span>

                  <small class="hidden-xs"><span class="timeago" title="Tue Aug 21 2018 09:59:44 GMT+0700 (+07)">10 days
                      ago
                    </span></small>
                  <small class="visible-xs-inline">
                    <span class="timeago" title="Thu Aug 30 2018 15:04:32 GMT+0700 (+07)">about 18 hours ago</span>
                  </small>
                </h2>
                <% }); %>
              </div>

              <div class="mobile-stat col-xs-2 visible-xs text-right">
                <span class="human-readable-number">2</span> <a href="/topic/1853/install-ethereumjs-wallet/2"><i class="fal fa-arrow-circle-right"></i></a>
              </div>

              <div class="col-md-1 hidden-sm hidden-xs stats">
                <span class="human-readable-number" title="2">2</span><br>
                <small>Posts</small>
              </div>

              <div class="col-md-1 hidden-sm hidden-xs stats">
                <span class="human-readable-number" title="68">68</span><br>
                <small>Views</small>
              </div>

              <div class="col-md-3 col-sm-3 teaser hidden-xs">
                <div class="card" style="border-color: #e95c5a">
                  <p>
                    <a href="/user/bao-mai">
                      <img title="" class="user-img" src="https://graph.facebook.com/111125343173124/picture?type=large" data-original-title="Bao Mai">
                    </a>
                    <a class="permalink" href="/topic/1853/install-ethereumjs-wallet/2">
                      <span class="timeago" title="Thu Aug 30 2018 15:04:32 GMT+0700 (+07)">about 18 hours ago</span>
                    </a>
                  </p>
                  <div class="post-content">
                    <p>mình hay dùng modul ethers</p>

                  </div>
                </div>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div><!-- END container -->
  </main>

  <div class="hide">
    <script type="text/tpl" data-template="500">
<div class="alert alert-danger">
	<strong>Internal error.</strong>
	<p>Oops! Looks like something went wrong!</p>
	<p></p>
	

</div>
</script>
  </div>


  <div class="topic-search hidden">
    <div class="btn-group">
      <button type="button" class="btn btn-default count"></button>
      <button type="button" class="btn btn-default prev"><i class="fas fa-fw fa-angle-up"></i></button>
      <button type="button" class="btn btn-default next"><i class="fas fa-fw fa-angle-down"></i></button>
    </div>
  </div>
  <div component="toaster/tray" class="alert-window"></div>

  <script>
    require(['forum/footer']);
  </script>


  <div id="taskbar" class="taskbar navbar-fixed-bottom">
    <div class="navbar-inner">
      <ul class="nav navbar-nav pull-right"></ul>
    </div>
  </div>
  <div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div>
</body>

</html>