* {
    box-sizing: border-box;
    font-family: 'Annie Use Your Telescope';
    font-size: 2.3vw;
    color: white;
    margin: 0;
    padding: 0;
}
html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    height: 100%;
}
.container {
    width: 100%;
    position: relative;
    height: 100%;
}
.container img {
    width: 100%;
    opacity: 0.9;
    height: 100%;
}
header {
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 0%;
}
.navbar {
    margin-top: 20px;
    text-align: left;
}
.navbar span {
    padding-left: 15px;
}
.navbar button {
    background-color: transparent;
    border: none;
}
.sound-on, .sound-off {
    display: inline-block;
    padding-left: 50px;
}
main {
    width: 100%;
    position: absolute;
    top: 30%;
    left: 0%;
}
.content {
    width: 80%;
    margin: 0 auto;

}
.question {
    width: 40%;
    border: 1px solid white;
    border-radius: 20px;
    margin: 0 auto 50px auto;
}
.answer {
    width: 40%;
    border: 1px solid white;
    border-radius: 20px;
    margin: 0 auto 10px auto;
}
.answer-list {
    margin-top: 10px;
}
.question p {
    padding-left: 20px;
    margin: 0;
    text-align: left;
    font-size: 85%;
}
.answer button {
    font-size: 75%;
    padding-left: 20px;
    margin: 0;
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: left;
}
.showFailResult {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 35%;
}
.showFailResult p {
    font-size: 3vw;
}
#failfear-line {
    text-transform: uppercase;
    font-size: 3vw;
    font-weight: bold;
    letter-spacing: 2px;
}
#resultis-line {
    padding-top: 25px;
}
.tryAgain {
    width: 100%;
    position: absolute;
    top: 130%;
}
.tryAgain button {
    padding: 5px 15px;
    background-color: transparent;
    border: 1px solid white;
    font-size: 75%;
}
.tryAgain button i {
    font-size: 70%;
}


