<nav id="menu" class=" slideout-menu">
  <section class="menu-profile">
    <div class="user-icon">
      <img src="<% user.image %>" alt="<% user.username %>">
    </div>
  </section>

  <section class="menu-section" data-section="navigation">
    <h3 class="menu-section-title">Navigation</h3>
    <ul class="menu-section-list">
      <li class="">
        <a href="/categories" title="" data-original-title="Categories">
          <i class="fas fa-fw fa-list"></i>

          <span class="visible-xs-inline">Categories</span>
        </a>
      </li>
      <li class="">
        <a href="/recent" title="" data-original-title="Recent">
          <i class="fas fa-fw fa-clock-o"></i>

          <span class="visible-xs-inline">Recent</span>
        </a>
      </li>
      <li class="">
        <a href="/unread" title="" id="unread-count" data-original-title="Unread">
          <i class="fas fa-fw fa-inbox unread-count" data-content="5"></i>

          <span class="visible-xs-inline">Unread</span>
        </a>
      </li>
      <li class="">
        <a href="/tags" title="" data-original-title="Tags">
          <i class="fas fa-fw fa-tags"></i>

          <span class="visible-xs-inline">Tags</span>
        </a>
      </li>
      <li class="">
        <a href="/popular" title="" data-original-title="Popular">
          <i class="fas fa-fw fa-fire"></i>

          <span class="visible-xs-inline">Popular</span>
        </a>
      </li>
      <li class="">
        <a href="/users" title="" data-original-title="Users">
          <i class="fas fa-fw fa-user"></i>

          <span class="visible-xs-inline">Users</span>
        </a>
      </li>
      <li class="">
        <a href="/groups" title="" data-original-title="Groups">
          <i class="fas fa-fw fa-group"></i>

          <span class="visible-xs-inline">Groups</span>
        </a>
      </li>

      <li class="">
        <a href="/search" title="" data-original-title="Search">
          <i class="fas fa-fw fa-search"></i>

          <span class="visible-xs-inline">Search</span>
        </a>
      </li>

      <a href="/search">
        <i class="fas fa-search fa-fw"></i> Search
      </a>
    </ul>
  </section>

   

  <section class="menu-section" data-section="notifications">
    <h3 class="menu-section-title">
      Notifications
      <span class="counter fa-bell-o" component="notifications/icon" data-content="0"></span>
    </h3>
    <ul class="menu-section-list notification-list-mobile" component="notifications/list"></ul>
    <p class="menu-section-list"><a href="/notifications">See all notifications</a></p>
  </section>

  <section class="menu-section" data-section="chats">
    <h3 class="menu-section-title">
      Chats
      <i class="counter" component="chat/icon" data-content="0"></i>
    </h3>
    <ul class="menu-section-list chat-list"></ul>
  </section>
</nav>
<nav class="navbar navbar-default navbar-fixed-top header" id="header-menu" component="navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" id="mobile-menu">
        <span component="notifications/icon" class="notification-icon fas fa-fw fa-bell" data-content="0"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a href="https://nodejs.vn">
        <img alt="Vietnam" class=" forum-logo" src="https://nodejs.vn/uploads/system/site-logo.png">
      </a>
      <a href="/">
        <h1 class="navbar-brand forum-title">myBlog</h1>
      </a>

      <div component="navbar/title" class="visible-xs hidden">
        <span></span>
      </div>
    </div>

    <% if(user) { %>
      <!-- LOGGED IN -->
      <div id="nav-dropdown" class="hidden-xs">
        <ul id="logged-in-menu" class="nav navbar-nav navbar-right">
          <li id="user_label" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="user_dropdown" title="" data-original-title="Profile" aria-expanded="false">
              <img component="header/userpicture" src="<%= user.image %>" alt="<%= user.username %>">
              <!-- <div component="header/usericon" class="user-icon" style="background-color: #e65100;" data-original-title="" title="">H</div> -->
              <span id="user-header-name" class="visible-xs-inline"><%= user.username %></span>
            </a>
            <ul id="user-control-list" component="header/usercontrol" class="dropdown-menu" aria-labelledby="user_dropdown">
              <li>
                <a component="header/profilelink" href="/user/hương-nguyễn">
                  <i component="user/status" class="fas fa-fw fa-circle status online"></i> <span component="header/username"><%= user.username %>
                  </span>
                </a>
              </li>
              <li role="presentation" class="divider"></li>
              <li>
                <a href="#" class="user-status" data-status="online">
                  <i class="fas fa-fw fa-circle status online"></i><span> Online</span>
                </a>
              </li>
              <li>
                <a href="#" class="user-status" data-status="away">
                  <i class="fas fa-fw fa-circle status away"></i><span> Away</span>
                </a>
              </li>
              <li>
                <a href="#" class="user-status" data-status="dnd">
                  <i class="fas fa-fw fa-circle status dnd"></i><span> Do not disturb</span>
                </a>
              </li>
              <li>
                <a href="#" class="user-status" data-status="offline">
                  <i class="fas fa-fw fa-circle status offline"></i><span> Invisible</span>
                </a>
              </li>
              <li role="presentation" class="divider"></li>
              <li>
                <a href="admin">
                  <i class="fas fa-fw fa-edit"></i> <span>Edit Profile</span>
                </a>
              </li>
              <li>
                <a href="admin">
                  <i class="fas fa-fw fa-gear"></i> <span>Settings</span>
                </a>
              </li>
              <li role="presentation" class="divider"></li>
              <li component="user/logout" class="userLogout">
                <a onclick="logOutIndex()"><i class="fal fa-fw fa-sign-out"></i><span> Logout</span></a>
              </li>
            </ul>
          </li>
        </ul>
        <ul id="logged-in-menu" class="nav navbar-nav navbar-right">
          <li class="notifications dropdown text-center hidden-xs" component="notifications">
            <a href="#" title="" class="dropdown-toggle" data-toggle="dropdown" id="notif_dropdown" data-original-title="Notifications">
              <i component="notifications/icon" class="fas fa-fw fa-bell" data-content="0"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="notif_dropdown">
              <li>
                <ul component="notifications/list" class="notification-list">
                  <li>
                    <a href="#"><i class="fas fa-refresh fa-spin"></i> Loading Notifications</a>
                  </li>
                </ul>
              </li>
              <li class="notif-dropdown-link"><a href="#" class="mark-all-read">Mark all notifications read
                </a></li>
              <li class="notif-dropdown-link"><a href="/notifications">See all notifications</a></li>
            </ul>
          </li>

          <li class="chats dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="" id="chat_dropdown" component="chat/dropdown" data-original-title="Chats">
              <i component="chat/icon" class="fal fa-comment fa-fw" data-content="0"></i> <span class="visible-xs-inline">Chats</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="chat_dropdown">
              <li>
                <ul component="chat/list" class="chat-list">
                  <li>
                    <a href="#"><i class="fas fa-refresh fa-spin"></i> Loading Chats</a>
                  </li>
                </ul>
              </li>
              <li class="notif-dropdown-link"><a href="#" class="mark-all-read" component="chats/mark-all-read">Mark all
                  chats read
                </a></li>
              <li class="notif-dropdown-link"><a href="/chats">See all chats</a></li>
            </ul>
          </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li data-original-title="" title="">
            <form id="search-form" class="navbar-form navbar-right hidden-xs" role="search" method="GET" action="">
              <button id="search-button" type="button" class="btn btn-link"><i class="fas fa-search fa-fw" title="Search"></i></button>
              <div class="hidden" id="search-fields">
                <div class="form-group">
                  <input class="form-control" placeholder="Search" name="query" value="" type="text">
                  <a href="#"><i class="fas fa-gears fa-fw advanced-search-link"></i></a>
                </div>
                <button type="submit" class="btn btn-default hide">Search</button>
              </div>
            </form>
          </li>
          <li class="visible-xs" id="search-menu">
            <a href="/search">
              <i class="fas fa-search fa-fw"></i> Search
            </a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right hidden-xs">
          <li>
            <a href="#" id="reconnect" class="hide" title="" data-original-title="Connection to Nodejs.vn has been lost, attempting to reconnect...">
              <i class="fas fa-check"></i>
            </a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right pagination-block visible-lg visible-md">
          <li class="dropdown">
            <i class="fas fa-angle-double-up pointer fa-fw pagetop"></i>
            <i class="fas fa-angle-up pointer fa-fw pageup"></i>

            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="pagination-text"></span>
            </a>

            <i class="fas fa-angle-down pointer fa-fw pagedown"></i>
            <i class="fas fa-angle-double-down pointer fa-fw pagebottom"></i>

            <div class="progress-container">
              <div class="progress-bar"></div>
            </div>

            <ul class="dropdown-menu" role="menu">
              <input class="form-control" id="indexInput" placeholder="Enter index" type="text">
            </ul>
          </li>
        </ul>

        <ul id="main-nav" class="nav navbar-nav">
          <li class="">
            <a href="#" title="" data-original-title="Categories">
              <i class="fas fa-fw fa-list"></i>

              <span class="visible-xs-inline">Categories</span>
            </a>
          </li>
          <li class="">
            <a href="#" title="" data-original-title="Recent">
              <i class="far fa-fw fa-clock-o"></i>

              <span class="visible-xs-inline">Recent</span>
            </a>
          </li>
          <li class="">
            <a href="#" title="" id="unread-count" data-original-title="Unread">
              <i class="fas fa-fw fa-inbox unread-count" data-content="5"></i>

              <span class="visible-xs-inline">Unread</span>
            </a>
          </li>
          <li class="">
            <a href="#" title="" data-original-title="Tags">
              <i class="fas fa-fw fa-tags"></i>

              <span class="visible-xs-inline">Tags</span>
            </a>
          </li>
          <li class="">
            <a href="#" title="" data-original-title="Popular">
              <i class="fas fa-fw fa-fire"></i>

              <span class="visible-xs-inline">Popular</span>
            </a>
          </li>
          <li class="">
            <a href="#" title="" data-original-title="Users">
              <i class="fas fa-fw fa-user"></i>

              <span class="visible-xs-inline">Users</span>
            </a>
          </li>
          <li class="">
            <a href="#" title="" data-original-title="Groups">
              <i class="fas fa-fw fa-group"></i>

              <span class="visible-xs-inline">Groups</span>
            </a>
          </li>

          <li class="">
            <a href="#" title="" data-original-title="Search">
              <i class="fas fa-fw fa-search"></i>

              <span class="visible-xs-inline">Search</span>
            </a>
          </li>
        </ul>
      </div>
      <% } else {%>
        <!-- NOT logged in -->
        <div id="nav-dropdown" class="hidden-xs">
          <ul id="logged-out-menu" class="nav navbar-nav navbar-right">

            <li>
              <a href="/login">
                <i class="fas fa-sign-in visible-xs-inline"></i>
                <span>Login</span>
              </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li data-original-title="" title="">
              <form id="search-form" class="navbar-form navbar-right hidden-xs" role="search" method="GET" action="">
                <button id="search-button" type="button" class="btn btn-link"><i class="fas fa-search fa-fw" title="Search"></i></button>
                <div class="hidden" id="search-fields">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" name="query" value="">
                    <a href="#"><i class="fas fa-gears fa-fw advanced-search-link"></i></a>
                  </div>
                  <button type="submit" class="btn btn-default hide">Search</button>
                </div>
              </form>
            </li>
            <li class="visible-xs" id="search-menu">
              <a href="/search">
                <i class="fas fa-search fa-fw"></i> Search
              </a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right hidden-xs">
            <li>
              <a href="#" id="reconnect" class="hide" title="" data-original-title="Connection to Blog has been lost, attempting to reconnect..."><i
                  class="fas fa-check"></i></a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right pagination-block visible-lg visible-md">
            <li class="dropdown">
              <i class="fas fa-angle-double-up pointer fa-fw pagetop"></i>
              <i class="fas fa-angle-up pointer fa-fw pageup"></i>

              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="pagination-text"></span>
              </a>

              <i class="fas fa-angle-down pointer fa-fw pagedown"></i>
              <i class="fas fa-angle-double-down pointer fa-fw pagebottom"></i>

              <div class="progress-container">
                <div class="progress-bar"></div>
              </div>

              <ul class="dropdown-menu" role="menu">
                <input type="text" class="form-control" id="indexInput" placeholder="Enter index">
              </ul>
            </li>
          </ul>

          <ul id="main-nav" class="nav navbar-nav">
            <li class="">
              <a href="/categories" title="" data-original-title="Categories">
                <i class="fas fa-fw fa-list"></i>

                <span class="visible-xs-inline">Categories</span>
              </a>
            </li>
            <li class="">
              <a href="/recent" title="" data-original-title="Recent">
                <i class="fas fa-fw fa-clock-o"></i>

                <span class="visible-xs-inline">Recent</span>
              </a>
            </li>

            <li class="">
              <a href="/tags" title="" data-original-title="Tags">
                <i class="fas fa-fw fa-tags"></i>

                <span class="visible-xs-inline">Tags</span>
              </a>
            </li>
            <li class="">
              <a href="/popular" title="" data-original-title="Popular">
                <i class="fas fa-fw fa-fire"></i>

                <span class="visible-xs-inline">Popular</span>
              </a>
            </li>
            <li class="">
              <a href="/users" title="" data-original-title="Users">
                <i class="fas fa-fw fa-user"></i>

                <span class="visible-xs-inline">Users</span>
              </a>
            </li>
            <li class="">
              <a href="/groups" title="" data-original-title="Groups">
                <i class="fas fa-fw fa-group"></i>

                <span class="visible-xs-inline">Groups</span>
              </a>
            </li>

            <li class="">
              <a href="/search" title="" data-original-title="Search">
                <i class="fas fa-fw fa-search"></i>

                <span class="visible-xs-inline">Search</span>
              </a>
            </li>
          </ul>
        </div>
        <% }%>
  </div>
</nav>