* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Annie Use Your Telescope';
    font-size: 3vw;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.clear {
    content: "";
    display: table;
    clear: both;
}

.wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

.wrap img {
    width: 100%;
    height: 100%;
    opacity: 0.9;
}

.content {
    width: 100%;
    position: absolute;
    top: 25%;
    left: 0;
}

.cards-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 90px;
}

.cards-container-row {
    width: 100%;
    margin: 0 auto;
    height: 20%;
}

.card {
    width: 12.5%;
    float: left;
    position: relative;
    padding: 5px;
}

.front, .back {
    width: 100%;
}

.front {
    width: 100%;
    transform: rotateY(180deg);
    position: absolute;
    padding: 5px;
    top: 0;
    left: 0;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.card .front, .card .back {
    transition: all 0.5s;
    backface-visibility: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.flip-front {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
}

.flip-back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.card:hover {
    box-shadow: 0 5px 25px rgba(255, 255, 255, 0.7);
}

.soundOnBtn {
    width: 15%;
    position: absolute;
    left: 2.5%;
    top: 3%;
    text-align: left;
}

.soundOnBtn p, .soundOnBtn i {
    display: inline-block;
}

.soundOffBtn {
    width: 15%;
    position: absolute;
    left: 2%;
    top: 9%;
    text-align: left;
}

.soundOffBtn p, .soundOffBtn i {
    display: inline-block;
}

.soundOffBtn i, .soundOnBtn i {
    font-size: 80%;
}

.soundOffBtn p, .soundOnBtn p {
    font-size: 60%;
}

.soundOnBtn i {
    padding-left: 3px;
}

.soundOnBtn p {
    padding-left: 5px;
}

.soundOnBtn:hover i, .soundOnBtn:hover p, .soundOffBtn:hover i, .soundOffBtn:hover p {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 2px 30px rgba(255, 255, 255, 0.5);
}

.progress-bar {
    width: 100%;
    position: absolute;
    top: 15%;
    left: 0;
}

progress {
    width: 80%;
    height: 10px;
    background:rgba(255, 255, 255, 0.2);
    border-radius: 14px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5);
}

progress::-moz-progress-bar {
    border-radius: 14px;
    background: rgba(142,0,0,0.9);
    box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.4), 0 2px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}

progress::-webkit-progress-bar {
    background: transparent;
}

progress::-webkit-progress-value {
    border-radius: 14px;
    background: rgba(142,0,0,0.9);
    box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.4), 0 2px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}
.win-content, .lose-content {
    width: 100%;
    position: absolute;
    top: 30%;
    display: none;
}
.win-content p, .lose-content p {
    width: 100%;
    margin: 0 auto;
    font-size: 150%;
    letter-spacing: 3px;
    animation: fadeIn 2s ease-in-out;
    -webkit-animation: fadeIn 2s ease-in-out;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
.win-content:hover p, .lose-content:hover p {
    color: rgba(255, 255, 255, 0.7);
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    text-shadow: 0 2px 30px rgba(255, 255, 255, 0.5);
}
@keyframes fadePlayagain {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}
.playagainBtn {
    width: 100%;
    position: absolute;
    top: 42%;
    display: none;
}
.playagainBtn p {
    font-size: 90%;
    width: 12%;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.5);
    animation: fadePlayagain 2s ease-in-out;
    -webkit-animation: fadePlayagain 2s ease-in-out;
}
.playagainBtn:hover p {
    color: rgba(255, 255, 255, 0.7);
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    box-shadow: 0 2px 30px rgba(255, 255, 255, 0.5);
}
.vanish {
    opacity: 0;
}
.appear {
    display: block;
}
