* {
    box-sizing: border-box;
}
html, body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2vw;
}
.container {
    max-width: 1200px;
    text-align: center;
    margin: 50px auto;
}
.clear {
    clear: both;
}
.header h3 {
    text-transform: uppercase;
    color: black;
    padding: auto;
    letter-spacing: 1px;
    text-align: left;
}
.products {
    width: 100%;
    margin: 50px auto;
}
.row {
    width: 33%;
    float: left;
    margin: 30px auto;
}
.row img {
    width: 100%;
}
.row img:hover {
    transform: translate(0,-5px);
    transition: .5s all ease;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
}
.row a {
    color: black;
    text-align: left;
}
.row h6 {
    font-size: 2vw;
    margin-top: 20px;
}
.row-info {
    width: 100%;
    float: left;
    text-align: left;
}
.products h5 {
    color: red;
}
.products h5 b::after {
    content: "đ"
}
