* {
    box-sizing: border-box;
}
html, body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
}
.container {
    width: 100%;
    margin-top: 30px;
}
.header h3 {
    text-transform: uppercase;
    color: black;
    padding: auto;
    letter-spacing: 1px;
}
.row {
    width: 33%;
    float: left;
    padding: 0 auto;
}
.row img {
    width: 100%;
}
.clear {
    clear: both;
}
.product h5 {
    color: red;
    padding-bottom: 15px;
}
.product h5 b::after {
    content: "đ"
}
.product p {
    text-align: justify;
    line-height: 18px;
    padding: auto;
    letter-spacing: 1px;
}
.product a {
    color: black;
}