* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5vw;
    text-align: center;
}

html, body {
    width: 100%;
}

.clear {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 100%;
}

.banner {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

.banner img {
    width: 100%;
    opacity: 0.9;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.banner-text {
    width: 100%;
    position: absolute;
    top: 45%;
    animation: fadeIn 2s ease-in-out;
    -webkit-animation: fadeIn 2s ease-in-out;
}

.banner-text p {
    width: 25%;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.9);
    font-size: 200%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.banner-text:hover p {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
    color: white;
    cursor: pointer;
}

@keyframes fadeInText {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.banner-text-intro {
    width: 100%;
    position: absolute;
    top: 60%;
    background-color: rgba(0, 0, 0, 0.5);
    animation: fadeInText 1s ease-in-out;
    -webkit-animation: fadeInText 1s ease-in-out;
}

@keyframes fadeFromLeft {
    0% {
        text-align: left;
        padding-left: 0;
        opacity: 0.1;
    }
    25% {
        text-align: left;
        padding-left: 0%;
        opacity: 0.5;
    }
    75% {
        text-align: left;
        padding-left: 38%;
        opacity: 0.8;
    }
    100% {
        text-align: left;
        padding-left: 32%;
        opacity: 1;
    }
}

.banner-text-intro p {
    color: white;
    font-size: 130%;
    font-weight: 250;
    letter-spacing: 2px;
    animation: fadeFromLeft 3s ease-in-out;
    -webkit-animation: fadeFromLeft 3s ease-in-out;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar {
    width: 100%;
    padding: 10px 0 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    color: white;
    position: fixed;
    z-index: 10;
}

.logo {
    width: 10%;
    float: left;
    padding: 0 20px 0 10%;
}

.logo h1 {
    text-transform: uppercase;
    font-size: 120%;
}

.menu {
    width: 80%;
    float: left;
    text-align: right;
}

.menu-item {
    list-style-type: none;
    display: inline-block;
    padding: 0 15px;
}

.menu-item a {
    text-decoration: none;
    color: white;
    font-size: 90%;
}

.content-event-desc, .content-event-schedule, .content-event-speakers, .content-event-signup {
    width: 100%;
}

.content-event-desc-title, .content-event-schedule-title, .content-event-speakers-title, .content-event-signup-title {
    width: 100%;
    padding: 30px 0;
}

.content-event-desc-title h1, .content-event-schedule-title h1, .content-event-speakers-title h1, .content-event-signup-title h1 {
    margin: 0 auto;
    width: 20%;
    padding: 20px 10px;
    border: 1px solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    letter-spacing: 2px;
    font-size: 120%;
    font-weight: 400;
}

.content-event-desc-title:hover h1, .content-event-schedule-title:hover h1, .content-event-speakers-title:hover h1, .content-event-signup-title:hover h1 {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

main {
    background: url('banner5blurred.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.wrap {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
}

.event-desc {
    width: 80%;
    padding-top: 30px;
    margin: 0 auto;
}

.event-desc h1 {
    padding-bottom: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#event-desc-1 {
    padding-top: 20px;
}

.event-desc-time {
    width: 55%;
    margin: 0 auto;
    padding: 30px 10px 15px 10px;
}

.event-desc-place {
    width: 55%;
    margin: 0 auto;
    padding: 15px 10px 30px 10px;
}

.event-desc-time i, .event-desc-place i {
    float: left;
    width: 20%;
    font-size: 120%;
}

#event-desc-time-text, #event-desc-place-text {
    width: 80%;
    float: left;
    text-align: justify;
}

.event-schedule-title {
    width: 100%;
}

.event-schedule {
    width: 70%;
    margin: 0 auto;
    padding: 30px 0 30px 156px;
}

.schedl {
    display: flex;
    align-items: center;
}

.schedl-time {
    padding: 10px 15px;
    margin-bottom: 10px;
    color: white;
    width: 18%;
    background-color: rgba(0, 107, 70, 0.8);
}

.schedl-time p {
    font-weight: 300;
}

#schedl-time1 {
    background-color: rgba(0, 107, 70, 0.8);
}

#schedl-time2 {
    background-color: rgba(133, 55, 60, 0.9);
}
#schedl-time3 {
    background-color: rgba(183,98,84,0.9);
}
#schedl-time4 {
    background-color: rgba(188,138,104,0.9);
}
.schedl-desc {
    width: 75%;
    margin-left: 10px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    ;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
}

.schedl-desc p {
    font-size: 90%;
}

.tooltip {
    position: absolute;
    margin-left: 5px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 18px solid rgba(255, 255, 255, 0.5);
    border-bottom: 8px solid transparent;
    left: 35.6%;
}

.schedl-desc p {
    text-align: justify;
}

.speakers-img, .speakers-info {
    width: 70%;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.speakers-img img:hover {
    transform: translateY(-5px);
    transition: .5s ease;
    cursor: pointer;
}

.speakers-img img {
    padding: 30px;
}

/* .speakers-info {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 30px 30px 30px;
} */

.speakers-info-details {
    padding: 10px 30px;
}

.speakers-info-details h2 {
    padding-bottom: 10px;
}

.speakers-info-details p {
    font-size: 90%;
}

.signup-form {
    width: 45%;
    margin: 0 auto;
    padding: 30px 0;
}

footer {
    width: 100%;
}

.wrap-footer {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(0, 128, 73);
}

.techmaster {
    padding: 30px 0;
}

.techmaster p {
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 2px;
}