* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5vw;
    text-align: center;
}
html,body {
    width: 100%;
}
.clear {
    content: "";
    display: table;
    clear: both;
}
.container {
    width: 100%;
}
.banner {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}
.banner img {
    width: 100%;
    opacity: 0.9;
}
.navbar {
    width: 100%;
    padding: 10px 0 10px 20px;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    color: white;
    position: fixed;
    z-index: 10;
}
.logo {
    width: 10%;
    float: left;
    padding: 0 20px 0 10%;
}
.logo h1 {
    text-transform: uppercase;
    font-size: 120%;
}
.menu {
    width: 80%;
    float: left;
    text-align: right;
}
.menu-item {
    list-style-type: none;
    display: inline-block;
    padding: 0 15px;
}
.menu-item a {
    text-decoration: none;
    color: white;
    font-size: 90%;
}
.content-event-desc, .content-event-schedule,
.content-event-speakers, .content-event-signup {
    width: 100%;
}
.content-event-desc-title, .content-event-schedule-title,
.content-event-speakers-title, .content-event-signup-title {
    width: 100%;
    padding: 30px 0;
}
.content-event-desc-title h1, .content-event-schedule-title h1,
.content-event-speakers-title h1, .content-event-signup-title h1 {
    margin: 0 auto;
    width: 20%;
    padding: 20px 10px;
    border: 1px solid white;
    color: white;
}
main {
    background: url('banner5.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.wrap {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(255,255,255);
}
.event-desc {
    width: 80%;
    padding-top: 30px;
    margin: 0 auto;
}
.event-desc h1 {
    padding-bottom: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
#event-desc-1 {
    padding-top: 20px;
}
.event-desc-time {
    width: 55%;
    margin: 0 auto;
    padding: 30px 10px 15px 10px;
}
.event-desc-place {
    width: 55%;
    margin: 0 auto;
    padding: 15px 10px 30px 10px;
}
.event-desc-time i, .event-desc-place i {
    float: left;
    width: 20%;
    font-size: 120%;
}
#event-desc-time-text, #event-desc-place-text {
    width: 80%;
    float: left;
    text-align: justify;
}
.event-schedule-title {
    width: 100%;
}
.event-schedule {
    width: 45%;
    margin: 0 auto;
    padding: 30px 0 30px 50px;
}
.schedl {
    display: flex;
    align-items: center;
}
.schedl-time {
    padding: 10px 10px 10px 0;
}
.schedl-desc {
    padding-left: 25px;
}
.schedl-desc p {
    text-align: justify;
}
.speakers-img {
    width: 50%;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.speakers-img img:hover {
    transform: translateY(-5px);
    transition: .5s ease;
}
.speakers-img img {
    padding: 10px;
}
.speakers-info {
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 30px 30px 30px;
}
.speakers-info-details {
    padding: 10px;
}
.speakers-info-details h2 {
    padding-bottom: 10px;
}
.speakers-info-details p {
    font-size: 90%;
}
.signup-form {
    width: 45%;
    margin: 0 auto;
    padding: 30px 0;
}
footer {
    width: 100%;
}
.wrap-footer {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(0,128,73);
}
.footer-content {
    width: 45%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: left;
}
.footer-content-left {
    padding: 40px 60px 40px 20px;
}
.footer-content-right {
    padding: 40px 0 40px 20px;
}
.footer-content-left p, .footer-content-right p {
    text-align: justify;
    color: rgba(255,255,255,0.8);
    font-size: 90%;
}
.line-before {
    background-color: rgba(255,255,255,0.8);
    width: 1px;
    height: 100px;
    margin-left: 20px;
}
.line-before2 {
    background-color: rgba(255,255,255,0.8);
    width: 1px;
    height: 100px;
    margin-left: 60px;
}
.footer-logo {
    padding-right: 55px;
    padding-left: 10px;
}
.footer-logo img {
    background-color: transparent;
}
.techmaster {
    padding-bottom: 30px;
}
.techmaster p {
    color: rgba(255,255,255,0.8);
    letter-spacing: 2px;
}