/* PRICING CONTENT */

.pricing-content {
    padding: 10% 0;
}

.price-title h2 {
    color: #414040;
    border-bottom: 3px solid #9B9B9B;
    width: 17%;
    font-weight: 400;
}
.co-visitor-header1 {
    background: url('../img/covisitor1.png');
    text-align: center;
}
.co-visitor-header1 h2, .co-visitor-header2 h2 {
    padding: 50px;
    font-weight: 500;
    letter-spacing: 1.5px;
}
.co-visitor-header2 {
    background: url('../img/covisitor3.jpg');
    text-align: center;
}
.co-visitor-info1, .co-member-info1, .co-office-info1 {
    text-align: justify;
    padding: 25px 0;
    background-color: rgba(155, 155, 155, 0.06);
    color: #414040;
}

.co-visitor-info1 p, .co-member-info1 p, .co-office-info1 p {
    padding: 10px 30px;
    line-height: 20px;
    font-size: 15px;
}
#sndline {
    font-weight: 500;
}
#lastline {
    padding: 0 30px;
}
.co-member-header1 {
    background: url('../img/comember1.jpg');
    text-align: center;
}
.co-member-header2 {
    background: url('../img/comember2.jpg');
    text-align: center;
}
.co-member-header1 h2, .co-member-header2 h2 {
    padding: 50px;
    font-weight: 500;
    letter-spacing: 1.5px;
}
.co-office-header1 {
    background: url('../img/cooffice1.jpg');
    text-align: center;
}
.co-office-header2 {
    background: url('../img/cooffice2.jpg');
    text-align: center;
}
.co-office-header3 {
    background: url('../img/cooffice3.jpg');
    text-align: center;
}
.co-office-header1 h2, .co-office-header2 h2, .co-office-header3 h2 {
    padding: 50px;
    font-weight: 500;
    letter-spacing: 1.5px;
}
.co-office-info11 {
    text-align: justify;
    padding: 20px 0;
    background-color: rgba(155, 155, 155, 0.06);
    color: #414040;
}

.co-office-info11 p {
    padding: 5px 30px;
    line-height: 20px;
    font-size: 15px;
}