@media only screen and (max-width: 1200px) {
    /* NAVBAR */
    .navbar-width {
        width: 100%;
    }
    /* PRICING */
    .co-member-header2 h2 {
        font-size: 1.6rem;
        letter-spacing: 1px;
        padding: 3.38rem 0;
    }
    .co-member-info1 {
        height: 400px;
    }
    .co-office-header1 h2, .co-office-header2 h2 {
        font-size: 1.5rem;
    }
    .co-office-info1, .co-office-info11 {
        height: 420px;
    }
    .tobottom-padding1 {
        padding-top: 1rem;
    }
}

/* For Ipad Pro landscape */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
    .fw {
        z-index: 10;
        background-color: #000000cc;
    }
    .nav-link, .nav-item1 button {
        font-size: 1.1rem;
    }
    /* HOME */
    .banner, .first__home {
        height: 70vh;
    }
    .card-body, .question-style h6 {
        line-height: 1.5rem;
    }
    .banner-text h1 {
        font-size: 2rem;
    }
    .banner-h, .aboutus-firsthome {
        height: 50vh !important;
    }
    /* ABOUT US */
    .aboutus-info h6 {
        line-height: 2rem;
        font-size: 1.3rem;
    }
    .vision-text, .hereincowork-content p {
        font-size: 1.2rem;
    }
    .social-fb-label {
        font-size: 1rem;
    }
    /* BENEFITS */
    .modau h6 {
        line-height: 2rem;
        font-size: 1.3rem;
    }
    .benefits-content-text, .benefits-content-text-view a, .text-fill-blank {
        font-size: 1.2rem;
    }
    /* PRICING */
    .pricing-content {
        padding: 4rem 0;
    }
    .price-title h2 {
        width: 17%;
    }
    .co-visitor-price {
        font-size: 1.5rem;
    }
    .co-office-header1 h2, .co-office-header2 h2 {
        font-size: 1.6rem;
    }
    .co-visitor-info1 p, .co-member-info1 p, .co-office-info1 p {
        padding: 10px 30px;
        line-height: 1.5rem;
    }
    .co-visitor-info1, .co-member-info1, .co-office-info1, .co-office-info11 {
        height: 430px;
    }
    .tobottom-padding2 {
        padding-top: 4rem;
    }
    .tobottom-padding3 {
        padding-top: 1rem;
    }
    .pricing-callus {
        padding-top: 2rem;
        font-size: 1.2rem;
    }
    /* NEWS & EVENTS */
    #line1, #line2, .detail-title-text, .latest-title, .articles-content p, .img-title, .para2 a, .leave-reply, .notice, .comment-control, .fix-bot1 label, .fixleftright button {
        font-size: 1.2rem;
    }
    .modaunews, .para1, .para2-title, .para2 {
        font-size: 1.2rem;
        line-height: 2rem;
    }
    /* CONTACT */
    .ourlocations, .contact-info p {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 968px) {}

@media only screen and (max-width: 834px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 560px) {}

@media only screen and (max-width: 480px) {}

@media only screen and (max-width: 414px) {}

@media only screen and (max-width: 330px) {}